/* Fonts */
/* Outrun future */
@font-face {
  font-family: "Outrun Future";
  src: url("../assets/fonts/Outrun-future.otf") format("opentype");
}

/* Catamaran */
@font-face {
  font-family: "Catamaran";
  src: url("../assets/fonts/Catamaran-Regular.ttf") format("truetype");
  font-weight: normal;
}
