@use '_colors.scss';
@use '_reset.scss';
@use '_fonts.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Catamaran', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.title-font {
  font-family: 'Outrun Future', fantasy;
}

h1 {
  @extend .title-font;
  color: colors.$lightBlue;
  font-size: 2em;
}

h2 {
  @extend .title-font;
  color: colors.$orange;
  font-size: 1.5em;
  padding-bottom: 20px;
}


header {
  background-color: colors.$darkPurple;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  .logo {
    width: 8.33%;
    height: auto;
  }

  nav {
    width: 66.67%;

    ul {
      //TODO make a flex mixin or something
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  a {
    font-size: 1.4em;
    text-decoration: none;
    font-family: "Outrun Future", fantasy;
    color: colors.$magenta;

    :active {
      color: colors.$orange;
    }

    &.active {
      color: colors.$orange;
    }

  }
}

main {
  padding: 20px 50px;
  background-color: colors.$black;
  color: colors.$lightPurple;
  width: 100%;

  section {
    width: 100%;
  }

  p {
    padding-bottom: 20px;
  }

}

#subscribe {
  .input-element {
    height: 2em;
    border-radius: 5px;
    margin-right: 10px;
  }

  label {
    padding-right: 10px;
  }

  input {
    border: 1px solid colors.$midPurple;
    @extend .input-element;
  }

  button {
    background-color: colors.$magenta;
    color: colors.$darkPurple;
    border: none;
    @extend .input-element;
  }
}

footer {
  background-color: colors.$darkPurple;
  height: 100%;
  text-align: center;
  color: colors.$magenta;
  padding: 0 50px;

  p {
    padding: 20px 0;
  }
}

.carousel {
  width: 100%;
  max-width: 100vw;
  background-color: colors.$darkPurple;
  border-radius: 10px;
  overflow: hidden;

  .carousel-images {
    width: 300%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: all .5s ease;
    transform: translateX(0%);

    img {
      width: calc(100% / 3);
      min-height: 10vh;
      height: 80vh;
      object-fit: cover;
    }
  }

  .carousel-dots {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .dot {
      width: 10px;
      height: 10px;
      margin: 10px 20px;
      background-color: colors.$magenta;
      border-radius: 50%;

      &.active {
        background-color: colors.$orange;
      }
    }
  }

}