@use '_colors.scss';
@use '_reset.scss';
@use '_fonts.scss';
@use '_mixins.scss';

* {
  box-sizing: border-box;
  line-height: 1.15;
}

html {
  font-family: 'Catamaran', sans-serif;
}

body {
  @include mixins.flex(column, nowrap, flex-start, flex-start);
  min-height: 100vh;
  height: 100vh;
}

.title-font {
  font-family: 'Outrun Future', fantasy;
}

h1 {
  @extend .title-font;
  color: colors.$lightBlue;
  font-size: 2em;
}

h2 {
  @extend .title-font;
  color: colors.$orange;
  font-size: 1.5em;
  padding-bottom: 20px;
}


header {
  @include mixins.flex(row, nowrap, space-between, center);
  width: 100%;
  background-color: colors.$darkPurple;
  padding: 10px 50px;

  .logo {
    width: 6em;
    height: auto;
  }

  nav {
    width: 72%;

    ul {
      @include mixins.flex(row, nowrap, space-between, center);
      @include mixins.fill-parent;
    }
  }


  a {
    font-size: 1.4em;
    text-decoration: none;
    font-family: "Outrun Future", fantasy;
    color: colors.$magenta;

    :active {
      color: colors.$orange;
    }

    &.active {
      color: colors.$orange;
    }

  }
}

main {
  padding: 20px 50px;
  background-color: colors.$black;
  color: colors.$lightPurple;
  width: 100%;

  section {
    width: 100%;
  }


  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  > section {
    min-height: 60vh;
    animation: fadein 0.5s;
  }

  p {
    padding-bottom: 20px;
  }

}

figure {
  text-align: center;
  padding: 20px 0 40px 0;
}

.audios {
  @include mixins.flex(row, nowrap, center, center);
  width: 100%;

  audio {
    padding: 10px 10px 0 10px;
  }
}


#subscribe {
  .input-element {
    height: 2em;
    border-radius: 5px;
    margin-right: 10px;
  }

  label {
    padding-right: 10px;
  }

  input {
    border: 1px solid colors.$midPurple;
    @extend .input-element;
  }

  button {
    background-color: colors.$magenta;
    color: colors.$darkPurple;
    border: none;
    @extend .input-element;
  }
}

footer {
  @include mixins.fill-parent;
  background-color: colors.$darkPurple;
  text-align: center;
  color: colors.$magenta;
  padding: 0 50px;

  p {
    padding: 20px 0;
  }
}

.carousel {
  width: 100%;
  max-width: 100vw;
  background-color: colors.$darkPurple;
  border-radius: 10px;
  overflow: hidden;

  .carousel-images {
    width: 300%;
    @include mixins.flex(row, nowrap, space-between, flex-start);
    transition: all .5s ease;
    transform: translateX(0%);

    img {
      width: calc(100% / 3);
      min-height: 10vh;
      height: 80vh;
      object-fit: cover;
    }
  }

  .carousel-dots {
    width: 100%;
    padding: 0.5em;
    @include mixins.flex(row, nowrap, center, center);

    .dot {
      width: 10px;
      height: 10px;
      margin: 10px 20px;
      background-color: colors.$magenta;
      border-radius: 50%;

      &.active {
        background-color: colors.$orange;
      }
    }
  }
}

#the-game {
  section {
    @include mixins.flex(row, nowrap, flex-start, center);

    img {
      margin: 0;
    }
  }
}

@media (max-width: 769px) {
  header {
    flex-direction: column;
    align-items: center;

    nav {
      ul {
        flex-direction: column;

        li {
          margin-top: 10px;

          a {
            transition: color 0.2s ease;
          }
        }
      }
    }
  }

  h2 {
    visibility: hidden;
  }

  #the-game {
    section {
      flex-direction: column;
    }
  }

  .audios {
    flex-direction: column;
  }

  video {
    text-align: center;
    max-width: 100%;
    height: auto;
  }

  .carousel {
    .carousel-images {

      img {
        object-fit: contain;
        height: 40vh;
      }
    }
  }

  main {
    > section {
      @include mixins.flex(column, nowrap, center, flex-start);
    }
  }
}